<head>
	<meta charset="utf-8">
    <title>FoodShare - Share what you want to eat with others</title>
	<link rel="icon" type="image/ico" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ofer Moshaioff">
  </head
		<link href="/static/bootstrap.css" rel="stylesheet">
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	  <style>
		  body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		  }
		  .footer {
			background-color:#f5f5f5;
			position: absolute;
			bottom:0px;
			left:0px;
			right:0px;
			text-align:center;
			margin: 0 auto 0;
			}
		</style>		
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top"">
		  <div class="navbar-inner">
			<div class="container-fluid">
			  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </a>
			  <a class="brand" href="home">FoodShare</a>
			  <div class="nav-collapse collapse">
				<ul class="nav">
				  <li><a href="home">Home</a></li>
				  <li><a href="picks">Who's Eating What</a></li>
				  <li class="active"><a href="about">About</a></li>
				</ul>
			  </div><!--/.nav-collapse -->
			</div>
		  </div>
		</div>
		<div>
			<div class="container">
				<div class="alert alert-info span9">
					<h1>About FoodShare</h1>
					<br>
					<p><strong>FoodShare</strong> allows you to choose who you want to have lunch with, and where.<br>
					It's simple, either pick a place you want to eat lunch in today, or see what everybody else picked.
					<br>
					<br>
					<strong>FoodShare</strong> stores your picks and creates groups of people that picked the same restaurant to eat in. That way, you can see who wants to eat where and either
					order in together or just go outside for lunch, instead of eating alone. You picks are unique and will stay relevant during the day you picked them, after all tomorrow is another day.
					<br>
					<br>
					<strong>FoodShare</strong> uses <strong>node.js</strong> as the server technology combining
					<strong>express</strong> as a framework, <strong>socket.io</strong> for sockets and <strong>mongoDB</strong> as the database implementation (hosted on <strong>MongoHQ</strong>) to create a super fast service.
					<br>
					<br>
					The client side is written in HTML, CSS3 and javascript using <strong>Twitter Bootstrap</strong>.
					<br>
					<br>
					Oh yeah, <strong>FoodShare</strong> doesn't support IE. Sorry (No, we're not)
					<br>
					<br>
					Still not satisfied? you can contact us at <a href="mailto:ofer.moshaioff@viaccess-orca.com">Ofer Moshaioff</a> and <a href="mailto:michael.derazon@viaccess-orca.com">Michael Derazon</a>
					</p>
				</div>
			</div>
		</div>
		<div id="newInfo" style="position:absolute; bottom:40px;">		
		</div>
		
		<script src="/static/bootstrap.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
		   var socket = io.connect(window.location.hostname, {'sync disconnect on unload':true});
		   socket.on('connect', function() {
			 console.log('client connected');
			});
		   socket.on('push', function (data) {
			updatepage(data);
		  });
		  
		  function updatepage(data){
			var info = document.getElementById("newInfo");
			info.setAttribute('class', 'alert alert');
			info.innerHTML = data.name + ' just picked <strong>' + data.rest + '</strong> for lunch today';
		}
		</script>
	</body>
	<footer class="footer well">
			<div>
				<a href="https://github.com/ofermoshsaioff/food-share">FoodShare</a> by Ofer Moshaioff & Michael Derazon is powered by 
				<a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>, Server built using 
				<a href="http://nodejs.org/">node.js</a> and <a href="http://expressjs.com/">express </a>
			</div>
	</footer>
</html>