<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <title>FoodShare - Share what you want to eat with others</title>
	<link rel="icon" type="image/ico" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ofer Moshaioff">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35314898-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<!-- facebook redirect #_=_ workaround http://stackoverflow.com/questions/7131909/facebook-callback-appends-to-return-url -->
	<script type="text/javascript">
		if (window.location.hash == '#_=_') {
			window.location.hash = ''; // for older browsers, leaves a # behind
			history.pushState('', document.title, window.location.pathname); // nice and clean
			e.preventDefault(); // no page reload
		}
	</script>
  </head>
	  <link href="/static/bootstrap.css" rel="stylesheet">
	  <link href="/static/bootstrap.min.css" rel="stylesheet">
	  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	  <style>
		  body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		  }
		  .myHeader {
		  position: relative;
		  padding: 50px 0;
		  color: #000;
		  text-align: center;
		  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
		  
		}
		.myHeader h1 {
		  font-size: 80px;
		  font-weight: bold;
		  letter-spacing: -1px;
		  line-height: 1;
		}
		.myHeader p {
		  font-size: 24px;
		  font-weight: 300;
		  line-height: 30px;
		  margin-bottom: 30px;
		}
		
		.footer {
			background-color:#f5f5f5;
			position: absolute;
			bottom:0px;
			left:0px;
			right:0px;
			text-align:center;
			margin: 0 auto 0;
		}
		</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top"">
		  <div class="navbar-inner">
			<div class="container-fluid">
			  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </a>
			  <a class="brand" href="home">FoodShare</a>
			  <div class="nav-collapse collapse">
				<ul class="nav">
				  <li class="active"><a href="home">Home</a></li>
				  <li><a href="picks">Who's Eating What</a></li>
				  <li><%if (user==null) {%><a href="login">Login</a><%}else {%><a href="/logout">Logout</a><%}%></li>
				  <li><a href="about">About</a></li>
				</ul>
			  </div><!--/.nav-collapse -->
			</div>
		  </div>
		</div>
		<div class="myHeader">
			<div class="container">				
				<h1>FoodShare*</h1>
				<h3>Don't eat by yourself, FoodShare!</h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 offset4">				
				<form class="form-vertical well" method="post" action="/picks">
				<fieldset>
					<legend>Where Do You Want To Eat Today?</legend>
						<div class="span8 offset3">
							<input type="text" class="input" name="name" placeholder="Enter your full name" value="<%if (user!=null) {%><%=user.displayName%><%}%>">
						</div>
						<div class="row-fluid offset3">
							<select name="rest">
								<option></option>
								<option>Aroma</option>
								<option>Bahadonas</option>
								<option>Bar Bari</option>
								<option>Burger Ranch</option>
								<option>Giraffe</option>
								<option>Koi Sushi bar</option>
								<option>Kyoto Express</option>
								<option>McDonald's</option>
								<option>Moses</option>
								<option>Olive</option>
								<option>Osaka</option>
								<option>Pinati</option>
								<option>Sameah</option>
								<option>Shlomtzi</option>
								<option>Shultz</option>
								<option>The Mall</option>
								<option>The 5 Senses</option>
								<option>Zozobra</option>
								<option>Zussy</option>
							</select>
						</div>
						<div class="offset4">
							<button class="btn btn-primary" type="submit">Eat Now</button>
						</div>
						<div class="span8 offset2">						
							<br>
							<strong>Can't find your favorite spot? <a href="mailto:	ofer.moshaioff@viaccess-orca.com?Subject=Hey%20Where's%20My%20Spot?!">Email Me</a>
							</strong>
						</div>
				</fieldset>
				</form>
				<div class="alert alert-info">
					Or, if you want to see what everybody else picked, go to <a href="/picks">Who's Eating What</a>
				</div>
				<div class="offset3">
					<h3>* Yes, we're still in Beta</h3>
				</div>
			</div>
		</div>
		<div id="newInfo" style="position:absolute; bottom:40px;">
		</div>		
		<script src="/static/bootstrap.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
		   var socket = io.connect(window.location.hostname, {'sync disconnect on unload':true});
		   socket.on('connect', function() {
			 console.log('client connected');
			});
		   socket.on('push', function (data) {
			updatepage(data);
		  });
		  
		  function updatepage(data){
			var info = document.getElementById("newInfo");
			info.setAttribute('class', 'alert alert');
			info.innerHTML = data.name + ' just picked <strong>' + data.rest + '</strong> for lunch today';			
		}	
		</script>
	</body>
	<footer class="footer well">
			<div>
				<a href="https://github.com/ofermoshsaioff/food-share">FoodShare</a> by Ofer Moshaioff & Michael Derazon is powered by 
				<a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>, Server built using 
				<a href="http://nodejs.org/">node.js</a> and <a href="http://expressjs.com/">express </a>
			</div>
	</footer>
</html>